.sidebar {
    background-color: #C3DCFF;
    border:1px solid #cfcfcf;
    max-width:230px;
}

.sidebar__header {
  
    display:flex;
    border-bottom: 1px solid #49274b;
    padding-bottom:10px;
    padding:8px;
    
}



.sidebar__info {
    
    flex:1;

}

.sidebar__info > h3  {
    display: flex;
    align-items: center;
}


.sidebar__info > h3 > .MuiSvgIcon-root {
    font-size:14px;
    color:green;
    margin-right: 2px;
}